.home-content {
  position: relative;
  width: 100%;

}

.page-body {
  max-width: 700px;
  padding-top: 64px;
}

.body-content {
  margin-left: 20%;
  width: 800px;
  height: 500px;
}

.welcome {
  font-size: 80px;
  font-family: Verdana;
  font-weight: bold;
}

.login-form {
  display: relative;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 1300px;
  width: 450px;
  height: 600px;
  padding: 10px;
  border: 1px solid #088395;
  box-shadow: 0px 5px 10px #088395;
  background-color: #F1F6F9;
  border-radius: 25px;
}

.textfield {
  width: 350px;
  height: 20px;
}

.email-textfield {
  margin-top: 15%;
  margin-left: 10%;
}

.password-textfield {
  margin-top: 15%;
  margin-left: 10%;
}

#login-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 80px;
}

#checkAcc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 150px;
  font-size: 18px;
}

#signup-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 220px;
}

.error {
  padding-top: 7%;
  text-align: center;
  color: red;
}

.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -2%;
  border: 1px solid #088395;
  box-shadow: 0px 5px 10px #088395;
  background-color: #F1F6F9;
  border-radius: 25px;
  padding: 30px;
}

.signup-email {
  margin-top: 15%;
}

.signup-password {
  margin-top: 17%;
}

.signup-conf-password {
  margin-top: 17%;
  padding-bottom: 10%;
}

.signup-btn {
  margin-top: 10%;
}

nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #C7F0DB;
  font-size: 20px;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 16px 32px;
  transition: color 1s ease;
  transition: background-color 0.8s ease;
}

nav a:hover {
  background: black;
  color: white;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

.article-item {
  text-decoration: none;
  color: black;
}

.article-item-container {
  border: 1px solid #088395;
  width: 800px;
  border-radius: 25px;
  margin-top: 5%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 1s ease;
}

.article-item-container:hover {
  background-color: #00FFCA;
}

.article-page {
  position: absolute;
  text-align: center;
  margin-top: 2%;
  margin-left: 28%;
  padding-bottom: 5%;
}

#show-upvote {
  font-size: 22px;
  color: #AE00FB;
}

.show-article {
  position: relative;
  border: 1px solid #088395;
  box-shadow: 0px 5px 10px #088395;
  background-color: #F1F6F9;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 20px;
  margin-top: 8%;
  margin-left: 60%;
  margin-bottom: 10%;
  width: 1000px;
}

/*Comment Form Styles*/
.comments-container {
  margin-top: 5%;
  padding-bottom: 2%;
}

.comment {
  border-bottom: 2px solid black;
  padding-top: 5px;
}

.add-comment-form {
  margin-top: 4%;
  border: 1px solid #e2e6e6;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #116D6E;
  background-color: #F1F6F9;
  width: 500px;
  padding-bottom: 30px;

}

.text-comment {
  padding-left: 25px;
  margin-top: 8%;
}

.add-com-btn {
  padding-left: 25px;
  margin-top: 5%;
}

/*Contact Page Styles*/
.contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #088395;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #088395;
  background-color: #F1F6F9;
  padding: 25px;

}

.con-name-textfield {
  margin-top: 0%;
}

.con-email-container {
  margin-top: 16%;
}

.mob-container {
  margin-top: 16%;
}

.message-container {
  margin-top: 16%;
}

.con-btn {
  margin-top: 50%;
}

/*About Page Styles*/
.about-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #088395;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #088395;
  background-color: #F1F6F9;
  padding: 25px;
}

.about-details {
  font-size: 18px;
}

.addArticle-container {
  position: absolute;
  text-align: center;
  margin-top: 2%;
  margin-left: 36%;
  padding-bottom: 5%;
  border: 1px solid #088395;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #088395;
  background-color: #F1F6F9;
  padding: 25px;
}

.article-textfield {
  width: 500px;
  height: 20px;
}

.article-name-container {
  padding-bottom: 70px;
}

.article-title-container {
  padding-bottom: 70px;
}

.article-content-container {
  padding-bottom: 250px;
}

.add-msg {
  padding-bottom: 20px;
}